button {
    --segment: 7rem;

    height: auto;
    min-height: var(--segment);
    width: 100%;
    max-width: 70rem;
    border-radius: 1.2rem;
    padding: 1.2rem;
    border: .2rem #d3d3d3a9 solid;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.icon {
    height: calc(var(--segment) - 2.6rem);
    width: calc(var(--segment) - 2.6rem);
    border-radius: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #efd5ff 0%, #515ada 100%);
    color: #ffffff65;

    flex-shrink: 0;
    flex-grow: 0;
}

.text {
    margin: 0;
    color: #FFF;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;

    p {
        margin: 0;

        &.subtitle {
            font-size: .8em;
            color: #b1b1b1;
        }
    }

    flex-shrink: 0;
    flex-grow: 0;
    max-width: calc(100% - var(--segment) - 1.1rem);
}
