.content {
    width: 100%;
    background-color: aqua;

    .carousel__header {
        display: flex;
        justify-content: space-between;

        .carousel_title {

        }

        .btns button {
            background-color: royalblue;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 2rem;
            transition: background-color 0.3s;
        }
        
        .btns button:disabled {
            background-color: lightgray;
            cursor: not-allowed;
        }
        
        .btns button:not(:disabled):hover {
            background-color: dodgerblue;
        }
        
    }

    .carousel__items_container {
        display: flex;
        overflow-x: auto;
        gap: 2rem;

        app-audio-item-rectangle {
            flex-shrink: 0;
            flex-grow: 0;
        }
    }
}