<div class="content">
    <div class="carousel__header">
        <p class="carousel_title">{{carouselTitle}}</p>
        <div class="btns" *ngIf="canScrollPrev || canScrollNext">
            <button (click)="scrollCarousel(carouselContainer, 'prev')" [disabled]="!canScrollPrev">Prev</button>
            <button (click)="scrollCarousel(carouselContainer, 'next')" [disabled]="!canScrollNext">Next</button>
        </div>
        
    </div>

    <div
        class="carousel__items_container hide-scrollbar"
        #carouselContainer
        (scroll)="checkScrollButtons(carouselContainer)"
    >
        <app-audio-item-rectangle></app-audio-item-rectangle>
        <app-audio-item-rectangle></app-audio-item-rectangle>
        <app-audio-item-rectangle></app-audio-item-rectangle>
        <app-audio-item-rectangle></app-audio-item-rectangle>
        <app-audio-item-rectangle></app-audio-item-rectangle>
    </div>
</div>