<div class="content">
    <p class="carousel_title">{{carouselTitle}}</p>

    <div class="carousel__items_container hide-scrollbar">
        <app-audio-item-rectangle></app-audio-item-rectangle>
        <app-audio-item-rectangle></app-audio-item-rectangle>
        <app-audio-item-rectangle></app-audio-item-rectangle>
        <app-audio-item-rectangle></app-audio-item-rectangle>
        <app-audio-item-rectangle></app-audio-item-rectangle>
        <app-audio-item-rectangle></app-audio-item-rectangle>
        <app-audio-item-rectangle></app-audio-item-rectangle>
    </div>

    <br>
    <hr>
    <br>

    <div class="carousel__items_container hide-scrollbar">
        <app-audio-item-square></app-audio-item-square>
        <app-audio-item-square></app-audio-item-square>
        <app-audio-item-square></app-audio-item-square>
        <app-audio-item-square></app-audio-item-square>
        <app-audio-item-square></app-audio-item-square>
        <app-audio-item-square></app-audio-item-square>
        <app-audio-item-square></app-audio-item-square>
        <app-audio-item-square></app-audio-item-square>
        <app-audio-item-square></app-audio-item-square>
    </div>
</div>