.content {
    width: 100%;
    background-color: aqua;

    .carousel_title {

    }

    .carousel__items_container {
        display: flex;
        overflow-x: auto;
        gap: 2rem;

        app-audio-item-rectangle {
            flex-shrink: 0;
            flex-grow: 0;
        }
    }
}