<div 
    *ngIf="toast.status == 0 || toast.status > 2"
    class="toast success"
    [ngClass]="{'showUp': toast.show}"
>
    <div class="icon">
        <i class="fa-solid fa-thumbs-up"></i>
    </div>
    <div class="body">
        <p class="message">{{toast.message}}</p>
        <p class="status">{{toast.statusMessage}}</p>
    </div>
</div>

<div 
    *ngIf="toast.status == 1"
    class="toast warning"
    [ngClass]="{'showUp': toast.show}"
>
    <div class="icon">
        <i class="fa-solid fa-exclamation"></i>
    </div>
    <div class="body">
        <p class="message">{{toast.message}}</p>
        <p class="status">{{toast.statusMessage}}</p>
    </div>
</div>

<div 
    *ngIf="toast.status == 2"
    class="toast danger"
    [ngClass]="{'showUp': toast.show}"
>
    <div class="icon">
        <i class="fa-solid fa-triangle-exclamation"></i>
    </div>
    <div class="body">
        <p class="message">{{toast.message}}</p>
        <p class="status">{{toast.statusMessage}}</p>
    </div>
</div>

