.content {
    min-height: calc(100vh - var(--navbar-small-height));
    position: relative;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem var(--dynamic-content-padding);
        padding-top: 3rem;

        .title {
            margin: 0;
            font-size: 3rem;
            color: #FFF;
            margin-right: 5rem;
        }
    }

    .loaded_content {
        padding: var(--dynamic-content-padding);
    }
}