<div class="content">

    <app-bg-video></app-bg-video>

    <div class="header">
        <p class="title">Discover More</p>
    </div>

    <div class="loaded_content add-bottom-spacing-for-playing-speech-banner">

        <app-carousel-square-narrators
            [hasBottomBorder]="true"
            [carouselTitle]="'explore by narrators'"
            [narrators]="narratorsService.getAllNarrators()"
        ></app-carousel-square-narrators>
    
        <app-explore-by-category [categories]="categoriesService.getAllCategories()"></app-explore-by-category>

        <app-carousel-rectangle 
            [hasBottomBorder]="true" 
            [carouselTitle]="'New and Networthy'"
            [speeches]="service.getAllSpeches()"
        ></app-carousel-rectangle>

        <app-explore-by-time></app-explore-by-time>

        <app-carousel-rectangle-playlist 
            [carouselTitle]="'Our Playlists'" 
            [playlists]="playlistsService.getPlaylists()"
        ></app-carousel-rectangle-playlist>

    </div>
</div>