<div class="content">

    <app-bg-video></app-bg-video>


    <!-- <div class="header" [ngStyle]="{'background-color': currentScene?.avgColor}"> -->
    <div class="header">
        <p class="title">Discover More</p>
        <button routerLink="/app/search">Search</button>
    </div>

    <div class="loaded_content">
        <app-carousel-square 
            [hasBottomBorder]="true" 
            [carouselTitle]="'today\'s Picks'"
            [audiosList]="service.getAllSpeches()"
        ></app-carousel-square>
    
        <app-explore-by-category></app-explore-by-category>

        <app-carousel-rectangle 
            [hasBottomBorder]="true" 
            [carouselTitle]="'Top Authors'"
            [audiosList]="service.getAllSpeches()"
        ></app-carousel-rectangle>

        <app-explore-by-time></app-explore-by-time>
        
        <app-carousel-rectangle 
            [hasBottomBorder]="true" 
            [carouselTitle]="'New and Networthy'"
            [audiosList]="service.getAllSpeches()"
        ></app-carousel-rectangle>
    </div>
</div>