.content {
    min-height: calc(100vh - var(--navbar-small-height));
    position: relative;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem var(--dynamic-content-padding);

        .title {
            margin: 0;
        }
    }

    .loaded_content {
        padding: var(--dynamic-content-padding);
    }
}