.content {
    min-height: calc(100vh - var(--navbar-small-height));
    position: relative;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        padding: var(--dynamic-content-padding);
        background-color: darkcyan;
    }

    .loaded_content {
        padding: var(--dynamic-content-padding);
    }
}