<div class="controls" [ngStyle]="{'opacity: 0': service.getSpeechDurationInSeconds() == 0}">
    <div class="actions">
        <div class="action">
        </div>
        <div class="action">
            <button (click)="playingSpeechControl.toggleSaveUnsaveSpeech()">
                <i class="fa-solid fa-save" *ngIf="!playingSpeechControl.loading_save_unsave_speech && !service.getSelectedSpeechData().saved"></i>
                <i class="fa-solid fa-trash" *ngIf="!playingSpeechControl.loading_save_unsave_speech && service.getSelectedSpeechData().saved"></i>
                <i 
                    *ngIf="playingSpeechControl.loading_save_unsave_speech"
                    class="fa-solid fa-spinner rotate"
                ></i>
            </button>
        </div>
        <div class="action">
            <!-- Play/Pause Button -->
            <button *ngIf="globalService.showPlay_hideReplay()" (click)="service.togglePlayPause()">
              <i class="fa-solid fa-play" *ngIf="!service.isSpeechPlaying"></i>
              <i class="fa-solid fa-pause" *ngIf="service.isSpeechPlaying"></i>
            </button>
            
            <!-- Replay Button -->
            <button *ngIf="!globalService.showPlay_hideReplay()" (click)="globalService.replay()">
              <i class="fa-solid fa-repeat"></i>
            </button>
        </div>
        <div class="action">
            <button (click)="stop()">
                <i class="fa-solid fa-stop"></i>
            </button>
        </div>
        <div class="action">
        </div>
    </div>
    <div class="speech_level">
        <div class="label">{{service.getSpeechReadingLevel()}}</div>
        <div class="range">
            <input 
                type="range" 
                min="0" 
                step="1"
                [max]="service.getSpeechDurationInSeconds()" 
                [value]="service.getSpeechReadingLevelInSeconds()"
                (input)="playingSpeechControl.onSeek($event)"
                class="range-slider"
            >
        </div>
        <div class="label">{{service.getSpeechDuration()}}</div>
    </div>
</div>