.controls {
    height: var(--controls-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;

    .actions {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1.4rem;

        .action {
            height: 4rem;
            width: 4rem;

            button {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                border: none;
                background-color: transparent;
                color: #FFF;
                transition: .3s;

                &:active {
                    background-color: var(--avgColor);
                }
            }
        }
    }

    .speech_level {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .range {
            display: flex;
            align-items: center;
            max-width: 20rem;
        }
    }

}