form {

    input,
    textarea {
        width: 100%;
        padding: 0.75rem;
        border: .1rem solid #ddd;
        border-radius: .6rem;
        color: #333;
        margin-bottom: 1.2rem;
        transition: border .3s;
    
        &:focus {
            outline: none;
            border-color: #00a77e;
        }
    }

    textarea {
        min-height: 20rem;
    }

    button {
        padding: .9rem 1.6rem;
        border: none;
        color: #FFF;
        background-color: #00a77e;
        border-radius: .6rem;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            margin-right: 1rem;
        }
    }
}