<app-welcome-page-header></app-welcome-page-header>
<div class="content">
    <app-welcome-page-navbar></app-welcome-page-navbar>
    
    <div class="introduction">
        <h1 class="title">
            Calm your mind. Change your life.
        </h1>

        <P class="text">
            Mental health is hard. Getting support doesn't need to be. Our app puts the tools to feel better in your back pocket, with personalized content to manage stress and anxiety, get better sleep, and feel more present in your life. Relax your mind, and wake up as the person you want to be.
        </P>
    </div>

</div>