.content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100rem;
    margin: auto;

    section {
        margin-bottom: 4rem;
        padding: var(--dynamic-content-padding);
    }


    .introduction {
        text-align: center;
        position: relative;

        .title {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2.2rem;
            margin-bottom: 3rem;
            font-weight: 600;
        }

        .text {
            margin: 0;
            line-height: 2.5rem;
        }
    }


    .badges {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2.5rem;
        text-align: center;

        .item {
            flex: 1;
            width: 100%;
            margin-bottom: 2rem;

            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                margin-bottom: 1.3rem;
                font-size: 2rem;
    
                p {
                    margin: 0;
                }
            }
        }

        

        @media all and (min-width: 800px) {
            flex-direction: row;
            text-align: left;

            .title {
                justify-content: left;
            }
        }
    }


    .accessibility {

        .line {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .image {
                height: 20rem;
                width: 20rem;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;

                img {
                    height: 100%;
                }
            }
            .text {
                margin-bottom: 2rem;
            }
            
            @media all and (min-width: 800px) {
                flex-direction: row;

                &:nth-child(even) {
                    flex-direction: row-reverse;
                }

                & .image,
                & .text {
                    flex: 1;
                }
            }
        }

    }


    .feedback {

        .title {
            margin-bottom: 3rem;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            p {
                font-size: 2.2rem;
                font-weight: 600;
                margin-right: 7rem;
            }

            .btns {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                gap: 1rem;
            }
        }
        
        .items {
            display: flex;
            justify-content: flex-start;
            overflow-y: auto;
            gap: 2rem;

            .item {
                padding: var(--dynamic-content-padding);
                background-color: royalblue;
                border-radius: 2rem;
                flex: 0 0 30rem;

                .icon {
                    font-size: 5rem;
                    color: #cacacab4;
                }

                .text {
                    color: #FFF;
                    margin-bottom: 1rem;
                    letter-spacing: .1rem;
                }

                .username {
                    color: #ffffffb4;
                    margin-bottom: 1rem;
                }
            }

            @media all and (min-width: 700px) {
                .item {
                    flex: 0 0 40rem;

                    &:first-child {
                        margin-left: 25vw;
                    }
                }
            }
        }
    }


    .FAQ {
        h2 {
            font-size: 2.2rem;
            margin-bottom: 3rem;
            letter-spacing: .2rem;
            font-weight: 600;
        }
    }


    .me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;
        flex-wrap: wrap;
        text-align: center;

        @media all and (min-width: 1000px) {
            flex-direction: row;
            text-align: start;
        }
    
        .thumb {
            height: 15rem;
            width: 15rem;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
    
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
    
            @media all and (min-width: 800px) {
                height: 18rem;
                width: 18rem;
            }
            @media all and (min-width: 1100px) {
                height: 21rem;
                width: 21rem;
            }
        }
    
        .text {
            flex: 1;
    
            .title {
                font-size: 2.2rem;
                font-weight: 600;
            }

            p {
                margin: 0;
                &::first-letter {
                    font-size: 2.2rem;
                }
            }
        }
    }


    .contact {
        
        max-width: 50rem;
        margin: auto;
        margin-bottom: 6rem;

        .title {
            font-size: 2.2rem;
            font-weight: 600;
            margin-bottom: 2rem;
            text-align: center;
        }
    }
    

    footer {
        padding: 2rem var(--dynamic-content-padding);
        text-align: center;

        .title {
            font-size: 3.5rem;
            margin-bottom: 2rem;

            @media all and (min-width: 850px) {
                font-size: 5rem;
            }
        }

        p {
            margin: 0;
            color: #555555d0;
        }
    }
}