.content {

    .title {
        font-size: 2rem;
        color: #FFF;
    }

    .btns {
        display: flex;
        gap: 1rem;
    }
    
    .controls {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }

    .categories_list {
        display: flex;
        overflow-x: auto;
        list-style-type: none;
        gap: 1rem;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    
        button {
            flex: 0 0 auto;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            white-space: nowrap;
            text-decoration: none;
            border: none;
            color: lightgray;

            i {
                margin-right: 1rem;
            }

            &.active {
                background-color: white !important;
                color: var(--avgColor);
            }
        }
    }
    
    margin-bottom: 5rem;
}