<div class="content">
  <div class="controls">
    <p class="title">Explore By Categories</p>
    <div class="btns">
      <app-btn-round-small [icon]="'fa-solid fa-angle-left'" (click)="scrollLeft()"></app-btn-round-small>
      <app-btn-round-small [icon]="'fa-solid fa-angle-right'" (click)="scrollRight()"></app-btn-round-small>
    </div>
  </div>

  <ul class="categories_list hide-scrollbar" #categoriesList>
    <button class="blurry-bg" *ngFor="let item of data">category one</button>
  </ul>
  
</div>