<div class="content">
  <div class="controls">
    <p class="title">Explore By Categories</p>
    <div class="btns">
      <app-btn-round-small [icon]="'fa-solid fa-angle-left'" (click)="scrollLeft()"></app-btn-round-small>
      <app-btn-round-small [icon]="'fa-solid fa-angle-right'" (click)="scrollRight()"></app-btn-round-small>
    </div>
  </div>

  <ul class="categories_list hide-scrollbar" #categoriesList>
    <ng-container *ngIf="categories.length > 0; else skeletonLoader">
      <ng-container *ngFor="let category of categories">
        <button 
          *ngIf="category.count >= 0"
          class="blurry-bg" 
          [routerLink]="'/app/search/category/'+category.id"
        >
          <i class="fa-solid fa-tag"></i>
          {{category?.count}} {{category?.name}}
        </button>
      </ng-container>
    </ng-container>
    
    <ng-template #skeletonLoader>
        <div class="skeleton-wrapper">
            <div *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]" class="skeleton-item-container">
                <div class="skeleton-item">Hello Maiss</div>
            </div>
        </div>
    </ng-template> 
  </ul>
  
</div>