<div 
    *ngIf="service.isCreateSection() && soundsService.getActiveSounds()" 
    class="bg-layer"
    [ngClass]="{'showUp': service.showOverlayContent && soundsService.getActiveSounds()}" 
    (click)="service.toggleOverLayContent()"
></div>

<div 
    *ngIf="service.isCreateSection()"
    class="overlay-content" 
    [ngClass]="{'showUp': service.showOverlayContent && soundsService.getActiveSounds()}" 
>
    <button class="clock" routerLink="/app/set-timer">
        <i class="fa-solid fa-clock"></i>
        <span>Timer</span>
    </button>
    <button class="stop" (click)="soundsService.desactivateAllSounds(); service.toggleOverLayContent()">
        <i class="fa-solid fa-stop"></i>
        <span>Stop</span>
    </button>
    <button class="action play" (click)="soundsService.toggle_play_pause_all_sounds()">
        <i class="fa-solid fa-play" *ngIf="soundsService.all_sounds_are_paused"></i>
        <i class="fa-solid fa-pause" *ngIf="!soundsService.all_sounds_are_paused"></i>
        <span>
            {{ soundsService.all_sounds_are_paused ? 'Play': 'Pause'}}
        </span>
    </button>
</div>
