.content {
    padding-top: var(--carousel-padding-top);
    padding-bottom: var(--carousel-padding-top);

    .items {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}