<div class="content">
    <div class="carousel__header">
        <p class="carousel_title">{{ title }}</p>
        <div class="btns">
            <app-btn-round-small [icon]="'fa-solid fa-angle-left'"  data-bs-target="#recommendationCarousel" data-bs-slide="prev"></app-btn-round-small>
            <app-btn-round-small [icon]="'fa-solid fa-angle-right'" data-bs-target="#recommendationCarousel" data-bs-slide="next"></app-btn-round-small>
        </div>
    </div>

    <div id="recommendationCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
            <ng-container *ngFor="let chunk of chunkedData; let i = index">
                <div class="carousel-item" [class.active]="i === 0">
                    <div class="items">
                        <div class="item" *ngFor="let item of chunk">
                            <app-recommended-for-you-item [data]="item"></app-recommended-for-you-item>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    <hr *ngIf="hasBottomBorder">
</div>
