<div class="content">
    <p class="title">{{title}}</p>

    <div id="recommendationCarousel" class="carousel slide" data-bs-interval="true" data-bs-interval="5000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="items">
                    <div class="item">
                        <app-recommended-for-you-item></app-recommended-for-you-item>
                    </div>
                    <div class="item">
                        <app-recommended-for-you-item></app-recommended-for-you-item>
                    </div>
                    <div class="item">
                        <app-recommended-for-you-item></app-recommended-for-you-item>
                    </div>
                    <div class="item">
                        <app-recommended-for-you-item></app-recommended-for-you-item>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="items">
                    <div class="item">
                        <app-recommended-for-you-item></app-recommended-for-you-item>
                    </div>
                    <div class="item">
                        <app-recommended-for-you-item></app-recommended-for-you-item>
                    </div>
                    <div class="item">
                        <app-recommended-for-you-item></app-recommended-for-you-item>
                    </div>
                    <div class="item">
                        <app-recommended-for-you-item></app-recommended-for-you-item>
                    </div>
                </div>
            </div>
        </div>



        <button class="carousel-control-prev" type="button" data-bs-target="#recommendationCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#recommendationCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <hr *ngIf="hasBottomBorder">
      
</div>