<div class="content">
    
    <app-bg-video></app-bg-video>

    <div class="title">
        <p>Choose Your Favorite Scene</p>
        <app-btn-rectangle [icon]="'fa-solid fa-x'" [text]="'close'" (click)="undoLink()"></app-btn-rectangle>
    </div>
    
    <hr>

    <div class="loaded-content">
        <ng-container *ngFor="let scene of service.getAllScenes()">
            <div 
                class="scene-item" 
                [ngClass]="{'scene-item-active': scene.id == service.getActiveScene().id}"
            >
                <img [src]="scene.img" alt="Scene Image">
                <p class="name">{{scene.name}}</p>
            </div>
        </ng-container>
    </div>
</div>
