<div class="content">
    
    <app-bg-video></app-bg-video>

    <button (click)="undoLink()">Close</button>

    <div class="loaded-content">
        <ng-container *ngFor="let scene of scenes">
            <div 
                class="scene-item" 
                [ngClass]="{'scene-item': true, 'scene-item-active': scene.id == currentScene.id}"
            >
                <div class="img_thumb">
                    <img [src]="scenesServices.getActiveScene().img" alt="Scene Image">
                </div>
                <p class="name">{{scenesServices.getActiveScene().name}}</p>
            </div>
        </ng-container>
    </div>
</div>
