<div class="content">
    
    <app-bg-video></app-bg-video>

    <div class="title">
        <p>Choose Your Favorite Scene</p>
        <app-btn-rectangle [icon]="'fa-solid fa-x'" [text]="'close'" (click)="undoLink()"></app-btn-rectangle>
    </div>
    
    <hr>

    <div class="loaded-content">
        <ng-container *ngFor="let scene of service.getAllScenes()">
            <div 
                class="scene-item" 
                [ngClass]="{'scene-item-active': scene.id == user.getUser().sceneID}"
                (click)="updateUserScene(scene)"
            >
                <div *ngIf="is_scene_loading && scene.id == target_scene_id" class="loading_overlay">
                    <i class="fa-solid fa-hourglass-end"></i>
                </div>
                <img [src]="scene.img" alt="Scene Image">
                <p class="name">{{scene.name}}</p>
            </div>
        </ng-container>
    </div>
</div>
