.hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge (legacy) */

    &::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and newer Edge */
    }
}

.blurry-bg {
    backdrop-filter: blur(15px);
    background-color: #00000062;
}

.cormorant-font {
    font-family: "Cormorant Garamond", serif;
}

//? for app.component -> .dynamic-content
.add-spacing-for-navbar { 
    padding-left: var(--navbar-wide-width);
}

.add-bottom-spacing-for-playing-speech-banner {
    padding-bottom: calc(var(--playing-speech-banner-height) + var(--navbar-small-height) + 2rem) !important;
}