:root {

    --navbar-zindex: 10;
    --navbar-content-zindex: var(--navbar-zindex) + 1;
    --overlay-video-zindex: calc(var(--navbar-zindex) + 1);

    --navbar-wide-width: 0;
    --navbar-small-height: 7rem;

    @media all and (min-width: 1200px) {
        --navbar-wide-width: 28rem;
    }
    @media all and (min-width: 1200px) {
        --navbar-small-height: 0rem;
    }
    

    --dynamic-content-width: calc(100vw - var(--navbar-wide-width));
    --dynamic-content-padding: 1.3rem;
    --dynamic-content-zindex: calc(var(--navbar-zindex) - 1);

    @media all and (min-width: 750px) {
        --dynamic-content-padding: 3rem;
    }



    --carousel-padding-top: 1.1rem;

    --speech-item-segment: 11.7rem;
    --speech-item-rectangle-height: var(--speech-item-segment);
    --speech-item-rectangle-width: calc(var(--speech-item-rectangle-height) * 1.7);

    @media all and (min-width: 500px) {
        --speech-item-segment: calc(11.7rem + 1rem);
    }
    @media all and (min-width: 750px) {
        --speech-item-segment: calc(11.7rem + 1.5rem);
    }
    @media all and (min-width: 1000px) {
        --speech-item-segment: calc(11.7rem + 3.5rem);
    }
    @media all and (min-width: 1400px) {
        --speech-item-segment: calc(11.7rem + 5.5rem);
    }



    --browse-section-scene-display-height: 28rem;
    --browse-section-scene-display-width: 100%;
    @media all and (min-width: 500px) {
        --browse-section-scene-display-height: 0;
    }

    --create-section-audio-item-segment: 6rem;
    @media all and (min-width: 400px) {
        --create-section-audio-item-segment: calc(6rem + 1rem);
    }
    @media all and (min-width: 750px) {
        --create-section-audio-item-segment: calc(6rem + 1.5rem);
    }
    @media all and (min-width: 1400px) {
        --create-section-audio-item-segment: calc(6rem + 2.5rem);
    }


    --playing-speech-banner-height: 7rem;
    @media all and (min-width: 1600px) {
        --playing-speech-banner-height: 8rem;
    }

    --bottom-sheet-padding: 1.5rem;
    --bottom-sheet-height: calc(5.5rem + var(--bottom-sheet-padding));
}