:root {

    --navbar-zindex: 10;
    --navbar-content-zindex: var(--navbar-zindex) + 1;
    --navbar-wide-width: 0;
    --navbar-small-height: 7rem;

    @media all and (min-width: 1200px) {
        --navbar-wide-width: 28rem;
    }
    @media all and (min-width: 1200px) {
        --navbar-small-height: 8rem;
    }
    @media all and (min-width: 1200px) {
        --navbar-small-height: 0rem;
    }
    

    --dynamic-content-width: calc(100vw - var(--navbar-wide-width));
    --dynamic-content-padding: 1.3rem;
    --dynamic-content-zindex: calc(var(--navbar-zindex) - 1);

    @media all and (min-width: 750px) {
        --dynamic-content-padding: 3rem;
    }



    --carousel-padding-top: 1.1rem;

    --audio-item-segment: 14.7rem;
    --audio-item-rectangle-height: var(--audio-item-segment);
    --audio-item-rectangle-width: calc(var(--audio-item-rectangle-height) * 1.7);

    @media all and (min-width: 500px) {
        --audio-item-segment: calc(14.7rem + 1rem);
    }
    @media all and (min-width: 750px) {
        --audio-item-segment: calc(14.7rem + 2rem);
    }
    @media all and (min-width: 1000px) {
        --audio-item-segment: calc(14.7rem + 4rem);
    }
    @media all and (min-width: 1400px) {
        --audio-item-segment: calc(14.7rem + 6rem);
    }



    --browse-section-header-height: 28rem;
    --browse-section-header-width: 100%;
    @media all and (min-width: 500px) {
        --browse-section-header-height: calc(28rem + 2rem);
    }
    @media all and (min-width: 750px) {
        --browse-section-header-height: calc(28rem + 6rem);
    }
    @media all and (min-width: 1000px) {
        --browse-section-header-height: calc(28rem + 8rem);
    }
    @media all and (min-width: 1200px) {
        --browse-section-header-height: calc(28rem + 9rem);
        --browse-section-header-width: calc(100% - var(--navbar-wide-width));
    }
    @media all and (min-width: 1400px) {
        --browse-section-header-height: calc(28rem + 11rem);
    }



    --create-section-audio-item-segment: 6rem;
    @media all and (min-width: 400px) {
        --create-section-audio-item-segment: calc(6rem + 1rem);
    }
    @media all and (min-width: 750px) {
        --create-section-audio-item-segment: calc(6rem + 1.5rem);
    }
    @media all and (min-width: 1400px) {
        --create-section-audio-item-segment: calc(6rem + 2.5rem);
    }


    --playing-audio-banner-height: 8rem;
}