<div class="content" [ngStyle]="{'background-color': currentScene?.avgColor + '80'}">

  <app-bg-video></app-bg-video>

  <div class="categories_header">
    <div class="controls">
      <h3>Categories</h3>
    </div>
  
    <ul class="categories_list hide-scrollbar" #categoriesList>
      <button 
        *ngFor="let category of logicService.getAllCategories()" 
        (click)="logicService.toggleCategory(category)" 
        [ngStyle]="{
          'background-color': category.isActive? currentScene.avgColor: '#FFF'
        }"
      >
        <!-- {{ category.category_name }} {{ category.isActive ? 'true' : 'false' }} -->
        {{ category.name }}
      </button>

    </ul>
  </div>
      
      

  <div class="loaded_content">
    <div class="category_unit" *ngFor="let category of logicService.getActiveCategories()">
      <div>
        <div class="title">{{ category.name }}</div>
        <div class="audio_items">
          <div class="item" *ngFor="let sound of category.items;">
            <p class="name">{{ sound.name }} {{sound.isActive}}</p>
            <div 
              class="icon_thumb blurry-bg"
              [ngStyle]="{
                'border-color': sound.isActive ? '#FFF' : 'transparent'
              }"  
            >
              <i class="fa-solid fa-house"></i>
            </div>

            <i class="fa-solid fa-house"></i>
            <!-- <input type="range" min="0" max="100" step="5"> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>