<div class="content">

    <div class="categories_header">
        <div class="controls">
          <h3>Categories</h3>
          <div *ngIf="canScrollLeft || canScrollRight" class="btns">
            <button (click)="scrollLeft()" [disabled]="!canScrollLeft">prev</button>
            <button (click)="scrollRight()" [disabled]="!canScrollRight">next</button>
          </div>
        </div>
      
        <ul class="categories_list hide-scrollbar" #categoriesList>
          <li>category one</li>
          <li>category two</li>
          <li>category three</li>
          <li>category four</li>
          <li>category five</li>
          <li>category six</li>
          <li>category seven</li>
          <li>category eight</li>
          <li>category nine</li>
          <li>category ten</li>
        </ul>
      </div>
      
      

    <div class="loaded_content">
        <div class="category_unit">
            <div class="title">Enviroment</div>
            <div class="audio_items">
                
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>
                <div class="item">
                    <p class="name">Caffee shop</p>
                    <div class="icon_thumb"></div>
                    <input type="range" min="0" max="100" step="5   ">
                </div>

            </div>
        </div>
    </div>

</div>