<div class="content">
    <div class="carousel__header">
        <p class="carousel_title">{{carouselTitle}}</p>
        <div *ngIf="hasScrollBtns" class="btns">
            <app-btn-round-small [icon]="'fa-solid fa-angle-left'" (click)="scrollCarousel(carouselContainer, 'prev')"></app-btn-round-small>
            <app-btn-round-small [icon]="'fa-solid fa-angle-right'" (click)="scrollCarousel(carouselContainer, 'next')"></app-btn-round-small>
        </div>
    </div>

    <div
        class="carousel__items_container"
        [ngClass]="{'custom-scrollbar': hasScrollbar == true, 'hide-scrollbar': !hasScrollbar}"
        #carouselContainer
    >

    <ng-container *ngIf="playlists.length > 0; else skeletonLoader">
        <div *ngFor="let playlist of playlists">
            <app-playlist-item-rectangle [playlist]="playlist" ></app-playlist-item-rectangle>
        </div>
    </ng-container>

    <ng-template #skeletonLoader>
        <div class="skeleton-wrapper">
            <div *ngFor="let i of [1, 2, 3, 4]" class="skeleton-item-container">
                <div class="skeleton-item"></div>
                <div class="skeleton-text"></div>
            </div>
        </div>
    </ng-template>  
    

    </div>
    <hr *ngIf="hasBottomBorder">
</div>