.content {
    display: flex;
    padding: 1.3rem;
    background-color: #0000005d;
    border-radius: 1.3rem;

    .img_thumb {
        height: calc(var(--audio-item-rectangle-width) / 2.9);
        width: calc(var(--audio-item-rectangle-width) / 2.9);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 1rem;

        img {
            height: 100%;
        }
    }

    .info {
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: start;

        .header {
            display: flex;
            justify-content: space-between;
        }
    }
}
