.content {
    display: flex;
    padding: 1.3rem;
    border-radius: 1.3rem;
    cursor: pointer;
    color: #d9dadb;

    .img_thumb {
        height: calc(var(--speech-item-segment) / 1.9);
        width: calc(var(--speech-item-segment) / 1.9);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 1rem;

        img {
            height: 100%;
        }
    }

    .info {
        flex: 1;
        padding: 0 1rem;
        padding-right: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;

        .narrator {
            margin: 0;
        }
    }
}
