.content {
    width: 100%;
    padding-top: var(--carousel-padding-top);
    margin-bottom: 5rem;
    color: #d9dadb;

    .carousel__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        .carousel_title {
            font-size: 2rem;
            margin-right: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btns{
            display: flex;
            align-items: center;
            height: 100%;
            gap: 1rem;
        }
    }

    .carousel__items_container {
        display: flex;
        overflow-x: scroll;
        gap: 3rem;
    }
}