<div class="content">
    <app-bg-video></app-bg-video>

    <div class="loaded_content add-bottom-spacing-for-playing-speech-banner">


        <div class="header">
            <div class="user"> 
                <p class="fullname">
                    {{ user.getUser().firstName + ' ' + user.getUser().lastName }}   
                </p> 
                <app-btn-rectangle [text]="'Log out'" [isRouter]="false" (click)="clear()" class="wide"></app-btn-rectangle>
                <app-btn-round-small [icon]="'fa-solid fa-x'" (click)="clear()" class="small"></app-btn-round-small>
            </div>

            <div class="info">
                <div class="qr_img">
                    <img 
                        [src]="user.getUser().qrcode" 
                        alt="your_qr_code" 
                        loading="lazy"
                    >
    
                    <div class="overlay" (click)="downloadQrCode()">
                        <p>Download <i class="fa-solid fa-download"></i></p>
                    </div>
                </div>
                <div class="items">
                    <p class="item">
                        <i class="fa-regular fa-calendar"></i>
                        {{ user.getUser().joiningDate | date }}
                    </p>
                    <p class="item">
                        <i class="fa-regular fa-clock"></i>
                        Time spent
                    </p>
                    <p class="item copyID">
                        <i class="fa-regular fa-id-card"></i>
                        <button (click)="copyID()">Copy ID</button>
                    </p>
                    <p class="item settingsItem">
                        <input 
                            type="checkbox" 
                            name="video_overlay" 
                            id="video_overlay" 
                            style="display: none;"
                            [(ngModel)]="checkbox_video_overlay"
                            (click)="toggleVideoOverlayBoolean()"
                        >
                        <i class="fa-solid fa-thumbs-up activated" *ngIf="checkbox_video_overlay"></i>
                        <i class="fa-solid fa-x desactivated" *ngIf="!checkbox_video_overlay"></i>
                        
                        <label for="video_overlay">Disable video overlay</label>
                    </p>
                    <p class="item settingsItem">
                        <input 
                            type="checkbox" 
                            name="recent_speech" 
                            id="recent_speech" 
                            style="display: none;"
                            [(ngModel)]="checkbox_recent_speech"
                            (click)="toggleRecentSpeechBoolean()"
                        >
                        <i class="fa-solid fa-thumbs-up activated" *ngIf="checkbox_recent_speech"></i>
                        <i class="fa-solid fa-x desactivated" *ngIf="!checkbox_recent_speech"></i>
                        
                        <label for="recent_speech">Show Recent speech when logged in</label>
                    </p>
                </div>
            </div>
            
        </div>

        <div class="body">
            <app-carousel-rectangle 
                *ngIf="speechesService.getSavedSpeeches().length > 0"
                [carouselTitle]="'Saved Speeches'" 
                [speeches]="speechesService.getSavedSpeeches()"
            ></app-carousel-rectangle>

            <app-carousel-rectangle 
                *ngIf="speechesService.getLikedSpeeches().length > 0"
                [carouselTitle]="'Liked Speeches'" 
                [speeches]="speechesService.getLikedSpeeches()"
            ></app-carousel-rectangle>
        </div>
    </div>
</div>
