<div class="content">
    <app-bg-video></app-bg-video>

    <div class="loaded_content add-bottom-spacing-for-playing-speech-banner">


        <div class="header">
            <div class="user"> 
                <p class="fullname">
                    {{ user.getUser().firstName + ' ' + user.getUser().lastName }}   
                </p> 
                <app-btn-rectangle [text]="'Log out'" [isRouter]="false" (click)="clear()" class="wide"></app-btn-rectangle>
                <app-btn-round-small [icon]="'fa-solid fa-x'" (click)="clear()" class="small"></app-btn-round-small>
            </div>

            <div class="info">
                <div class="qr_img">
                    <img 
                        [src]="user.getUser().qrcode" 
                        alt="your_qr_code" 
                        loading="lazy"
                    >
    
                    <div class="overlay" (click)="downloadQrCode()">
                        <p>Download <i class="fa-solid fa-download"></i></p>
                    </div>
                </div>
                <div class="items">
                    <p class="item">
                        <i class="fa-regular fa-calendar"></i>
                        {{ user.getUser().joiningDate | date }}
                    </p>
                    <p class="item">
                        <i class="fa-regular fa-clock"></i>
                        {{ user.getUser().joiningDate | date: 'HH:mm' }}
                    </p>
                    <p class="item copyID">
                        <i class="fa-regular fa-id-card"></i>
                        <button (click)="copyID()">Copy ID</button>
                    </p>
                </div>
            </div>
            
        </div>

        <div class="body">
            <app-carousel-rectangle 
                *ngIf="speechesService.speeches_history && speechesService.speeches_history.length > 0"
                [carouselTitle]="'Your watch history'" 
                [speeches]="speechesService.speeches_history"
            ></app-carousel-rectangle>

            <app-carousel-rectangle 
                *ngIf="speechesService.getSavedSpeeches().length > 0"
                [carouselTitle]="'Saved Speeches'" 
                [speeches]="speechesService.getSavedSpeeches()"
            ></app-carousel-rectangle>

            <app-carousel-rectangle 
                *ngIf="speechesService.getLikedSpeeches().length > 0"
                [carouselTitle]="'Liked Speeches'" 
                [speeches]="speechesService.getLikedSpeeches()"
            ></app-carousel-rectangle>
        </div>
    </div>
</div>
