.content {
    height: calc(100vh - var(--navbar-small-height));
    width: 100%;
    padding-top: 3rem;
    padding: var(--dynamic-content-padding);

    .loaded_content {

        --segment: 20rem;

        .header {
            
            padding: 2rem;
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            gap: 2rem;
            color: #FFF;
            margin-bottom: 7rem;

            .qr_img {
                height: var(--segment);
                width: var(--segment);
                border: .1rem solid #FFF;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 1;

                img {
                    height: 100%;
                }

                .overlay {
                    position: absolute;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    background-color: #000000c4;
                    cursor: pointer;
                    transition: opacity .3s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    color: #FFF;

                    p {
                        margin: 0;
                        font-size: 1.9rem;

                        i {
                            margin-left: .5rem;
                        }
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .info {
                text-align: center;
                .fullname {
                    font-size: 2rem;
                }
    
                .joining_date {
                    color: gray;
                }
            }

            @media all and (min-width: 500px) {
                flex-direction: row;
                align-items: flex-start;

                .info {
                    text-align: start;
                }
            }

        }
    }

}