<div class="content">
    <div class="controls">
        <p class="title">Explore By Time</p>
        <div class="btns">
            <app-btn-round-small [icon]="'fa-solid fa-angle-left'" (click)="scrollLeft()"></app-btn-round-small>
            <app-btn-round-small [icon]="'fa-solid fa-angle-right'" (click)="scrollRight()"></app-btn-round-small>
        </div>
    </div>
  
    <ul class="categories_list hide-scrollbar" #categoriesList>
        <button 
            *ngFor="let duration of service?.speechesDurations"
            class="blurry-bg" 
            [routerLink]="'/app/search/time/' + duration.id"
        >
            {{duration?.duration}} min
        </button>
        
    </ul>
</div>
  