.content {
    padding-left: var(--navbar-wide-width);

    .dynamic-content {
        position: relative;
        z-index: var(--dynamic-content-zindex);
        background-color: rosybrown;
        margin-bottom: var(--navbar-small-height);
    }

}