.content {
    z-index: var(--navbar-zindex);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    color: white;

    
    .bottom_sheet_button_small {
        width: 100%;
        border: none;
        height: var(--navbar-small-height);
        background: transparent;
        color: white;

        @media all and (min-width: 500px) {
            display: none;
        }
    }

    
    ul {
        padding: var(--dynamic-content-padding);
        display: flex;
        gap: 2rem;
        list-style-type: none;
        height: var(--navbar-small-height);
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: calc(var(--navbar-zindex) + 1);
        margin: 0;
    }

    @media all and (min-width: 1200px) {
        width: var(--navbar-wide-width);
        height: 100vh;
    }

    @media all and (max-width: 500px) {
        overflow: hidden;
    }

}

.active-link {
    font-weight: bold;
}

.border-radius {
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
}