<div class="content blurry-bg">

        <!-- <button 
            *ngIf="service.getActiveSounds().length > 0 && service.isCreateSection()"
            class="bottom_sheet_button_small" 
            (click)="service.toggleExpandSheetContent()"
        >Expand</button> -->

    <div class="title_links">
        <h1 class="title cormorant-font"><span>Quiet</span> Nest</h1>

        <ul class="links">
            <li routerLink="/app/browse" routerLinkActive="active-link">
                <i class="fa-solid fa-house"></i>
                <span>Browse</span>
            </li>
            <li routerLink="/app/create" routerLinkActive="active-link">
                <i class="fa-solid fa-music"></i>
                <span>Create</span>
            </li>
            <li routerLink="/app/explore" routerLinkActive="active-link">
                <i class="fa-solid fa-magnifying-glass"></i>
                <span>Explore</span>
            </li>
            <li routerLink="/app/profile" routerLinkActive="active-link">
                <i class="fa-solid fa-user"></i>
                <span>Profile</span>
            </li>
        </ul>
    </div>

    <p class="copyright text-center">© Maissen Belgacem</p>

</div>

