<div class="content blurry-bg">

    <div class="title_links">
        <h1 class="title cormorant-font"><span>Quiet</span> Nest</h1>

        <ul class="links">
            <li routerLink="/app/browse" routerLinkActive="active-link">
                <i class="fa-solid fa-house"></i>
                <span>Browse</span>
            </li>
            <li routerLink="/app/create" routerLinkActive="active-link">
                <i class="fa-solid fa-music"></i>
                <span>Create</span>
            </li>
            <li routerLink="/app/explore" routerLinkActive="active-link">
                <i class="fa-solid fa-magnifying-glass"></i>
                <span>Explore</span>
            </li>
            <li routerLink="/app/profile" routerLinkActive="active-link">
                <i class="fa-solid fa-user"></i>
                <span>Profile</span>
            </li>
        </ul>
    </div>

    <p class="copyright text-center">© Maissen Belgacem</p>


    <div class="create-section-sounds" style="display: none;">
        <div *ngFor="let sound of soundsService.getSounds()">
            <audio 
                *ngIf="service.isSoundActive(sound)" 
                [id]="'sound-audio-'+sound.id" 
                [src]="sound.link" 
                loop 
                [autoplay]="!service.getPauseActiveSounds()"
                [volume]="sound.volume/10"
            ></audio>
        </div>
    </div>

    <div 
        class="playing_speech_audio" 
        *ngIf="speechesService.getSelectedSpeechData() != null" 
        style="display: none;"
    >
    <div class="playing_speech_audio" 
        *ngIf="speechesService.getSelectedSpeechData() != null" 
        style="display: block;">
        <audio 
            [src]="speechesService.getSelectedSpeechData().link" 
            [volume]="speechesService.getSelectedSpeechData().volume"
            autoplay 
            id="playing_speech_html_audio" 
            (loadeddata)="getFetchedSpeechDuration()"
            (ended)="onAudioEnd()">
        </audio>

    </div>

</div>

