<div 
  class="content" 
  [style]="'--avgColor:' + scenesService.getActiveScene()?.avgColor + 
          '; --avgColorlighter:' + scenesService.getActiveScene()?.avgColor + '42' + 
          '; --currentSceneImg:url(' + scenesService.getActiveScene()?.img + ')'"
>

    <app-navbar *ngIf="navbar.showNavbar"></app-navbar>

    <app-playing-speech-banner></app-playing-speech-banner>
    <app-playing-sounds-banner></app-playing-sounds-banner>
    
    <div
        class="dynamic-content"
        [ngStyle]="{
            'padding-left': navbar.showNavbar ? 'var(--navbar-wide-width)' : '0'
        }"
    >
        <app-toast></app-toast>
        <router-outlet></router-outlet>
    </div>

    <div *ngIf="user.getUser() != null">
        
        <!--! sounds of create section -->
        <div class="create-section-sounds" style="display: none;">
            <div *ngFor="let sound of soundsService.getSounds(); let i = index">
                <audio 
                    *ngIf="sound.isActive"
                    class="sound"
                    [id]="'sound-'+sound.id" 
                    [src]="sound.link"
                    loop 
                    autoplay
                    [volume]="sound.volume / 10"
                    #audioElement
                    (loadstart)="sound.isLoading = true"
                    (loadeddata)="sound.isLoading = false"
                ></audio>
            </div>
            
        </div>

        <!--! audio of playing speech -->
        <div 
            class="playing_speech_audio"  
            style="display: none;"
        >
            <audio 
                id="playing_speech_html_audio" 
                (loadstart)="startLoadingSpeech()"
                (loadeddata)="getFetchedSpeechDuration()"
                (ended)="onAudioEnd()"
                [volume]="app.playingSpeechVolume"
                #speech_html_audio
            >
            </audio>
        </div>
        
    </div>


</div>