<div class="content">

    <ng-container *ngIf="showNavbar">
        <app-navbar></app-navbar>
    </ng-container>

    <div *ngIf="!showItems.showBottomSheetWide() && !showItems.showBottomSheetsmall()">
        <app-playing-audio-banner></app-playing-audio-banner>
    </div>
    
    <div class="bottom-sheet-wide" *ngIf="showItems.showBottomSheetWide()">
        <app-bottom-sheet-wide></app-bottom-sheet-wide>
    </div>

    <div 
        [ngClass]="{
            'dynamic-content': true, 
            'add-spacing-for-navbar': showNavbar, 
            'add-margin-bottom-for-playing-audio-banner': isPlayingAudio
        }"
    >

        <router-outlet></router-outlet>
    </div>

</div>