<div 
  class="content" 
  [style]="'--avgColor:' + scenesService.getActiveScene()?.avgColor + '; --avgColorlighter:' + scenesService.getActiveScene()?.avgColor + '42'">


    <ng-container *ngIf="showNavbar">
        <app-navbar></app-navbar>
    </ng-container>

    <app-playing-speech-banner></app-playing-speech-banner>
    <app-bottom-sheet-small></app-bottom-sheet-small>
    <app-bottom-sheet-wide></app-bottom-sheet-wide>
    
    <div 
        [ngClass]="{
            'dynamic-content': true, 
            'add-spacing-for-navbar': showNavbar, 
        }"
    >

        <router-outlet></router-outlet>
    </div>

</div>