<div class="content">
    <div class="main">
      <form class="login-form">
      
        <h2>Register now</h2>
  
        <div class="input-group">
          <input 
            autofocus 
            type="text" 
            placeholder="Enter first name" 
            [(ngModel)]="firstName" 
            name="firstname" 
            autocomplete="off" 
            [disabled]="isloading"
          />
          <i class="fa-regular fa-circle-question" title="First name must be between 3 and 10 characters"></i>
        </div>
  
        <div class="input-group">
          <input 
            type="text" 
            placeholder="Enter last name" 
            [(ngModel)]="lastName" 
            name="lastname" 
            autocomplete="off" 
            [disabled]="isloading"
          />
          <i class="fa-regular fa-circle-question" title="Last name must be between 3 and 10 characters"></i>

        </div>
        
        <button 
          type="submit" 
          class="login-btn" 
          (click)="onSubmitregistration()"
          [disabled]="isloading"
        >
          <i *ngIf="isloading" class="fa-solid fa-hourglass-end"></i>
          <span *ngIf="!isloading">Register</span>
        </button>
        
        <p class="signup-text">
          already a family member? <a routerLink="/login" class="signup-link">Log in</a>
        </p>
      
      </form>
    </div>
</div>
  