<div class="content">
    <div class="login-container">
      <div class="title">Log In to Quiet Nest</div>
      <form class="login-form" (submit)="login()">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" [(ngModel)]="email" placeholder="Enter your email">
  
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Enter your password">
  
        <div class="remember-me">
          <input type="checkbox" id="remember" name="remember">
          <label for="remember">Remember Me</label>
        </div>
  
        <input type="submit" value="Log In" class="btn-submit">
      </form>
    </div>
  </div>
  