<div 
    *ngIf="!isPlaylistRoute()" 
    class="profile-speech" 
    [ngClass]="{'hide_while_loading': narrator == null}">


    <div class="narrator__pic">
        <img [src]="narrator?.img">
    </div>
    <div class="narrator__info">
        <div>
            <p>{{narrator?.name}}</p>
            <p>{{narrator?.description}}</p>
        </div>
        <div class="actions">
            <button class="action like" [disabled]="action_like_narrator_loading" (click)="likeNarrator()" [ngClass]="{'liked': narrator?.liked}">
                <ng-container *ngIf="!action_like_narrator_loading">
                    <i class="fa-solid fa-heart"></i>
                    {{narrator?.likes}}
                    {{ narrator?.likes <= 1 ? 'like' : 'likes' }} 
                </ng-container>
                <ng-container *ngIf="action_like_narrator_loading">
                    <i class="fa-solid fa-spinner rotate"></i>
                    Loading
                </ng-container>
            </button>
            <button class="action">
                <i class="fa-solid fa-microphone"></i>
                {{number_of_speeches}} audios
            </button>
        </div>
    </div>
</div>


<div 
    *ngIf="isPlaylistRoute()" 
    class="profile-speech" 
    [ngClass]="{'hide_while_loading': narrator == null}">


    <div class="info">
        <div class="pic">
            <img [src]="narrator?.img">
        </div>
        <div class="text">
            <p class="name">{{narrator?.name}}</p>
            <p class="description">{{narrator?.description}}</p>
        </div>
    </div>
    <div class="actions">
        <button class="action like" [disabled]="action_like_narrator_loading" (click)="likeNarrator()" [ngClass]="{'liked': narrator?.liked}">
            <ng-container *ngIf="!action_like_narrator_loading">
                <i class="fa-solid fa-heart"></i>
                {{narrator?.likes}}
                {{ narrator?.likes <= 1 ? 'like' : 'likes' }} 
            </ng-container>
            <ng-container *ngIf="action_like_narrator_loading">
                <i class="fa-solid fa-spinner rotate"></i>
                Loading
            </ng-container>
        </button>
        <button class="action like">
            <i class="fa-solid fa-microphone"></i>
            <p class="count">
                {{number_of_speeches}}
                {{ number_of_speeches <= 1 ? 'audio' : 'audios' }} 
            </p>
        </button>

    </div>
</div>