<div class="content" [ngStyle]="{'background-image': 'url(' + service.getPlayingPlaylist()?.img + ')'}">

    <div class="loaded_content">  

        <div class="header">
            <div class="title">{{service.getPlayingPlaylist()?.name}}</div>

            <app-narrator-profile [narrator]="narratorsService.getNarratorById(speechesService.getSelectedSpeechData().narratorID)" ></app-narrator-profile>

        </div>

        <div class="body hide-scrollbar">

            <div class="item" *ngFor="let speech of service.getPlayingPlaylist()?.speeches" (click)="speechesService.setSelectedSpeechData(speechesService.getSpeechById(speech))">
                <div class="thumb" [ngStyle]="{'background-image': 'url(' + speechesService.getSpeechById(speech).img + ')'}">
                    <p class="playingBadge" *ngIf="speechesService.getSelectedSpeechData().id == speechesService.getSpeechById(speech).id">
                        Playing
                    </p>
                </div>
                <div class="info">
                    <div class="name">{{speechesService.getSpeechById(speech).name}}</div>
                    <div class="category">
                        {{narratorsService.getNarratorById(speechesService.getSpeechById(speech).narratorID)?.name}}
                    </div>
                </div>
                <div class="badge">
                    <span>{{speechesService.getSpeechById(speech).likes}}</span>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
            
        </div>
        
        <app-playing-speech-control></app-playing-speech-control>
    </div>

    
</div>

<button class="close_section blurry-bg" (click)="router.navigate(['/app/browse'])">
    <i class="fa-solid fa-angle-left"></i>
</button>
