<div class="content" [ngStyle]="{'background-image': 'url(' + service.getPlayingPlaylist()?.img + ')'}">

    <!-- <div class="loaded_content blurry-bg"> -->
    <div class="loaded_content">
        <div class="header">
            <div class="title">{{service.getPlayingPlaylist().name}}</div>
        </div>
        <div class="body"></div>
        <div class="footer"></div>
    </div>

    <button class="close_section blurry-bg">
        <i class="fa-solid fa-angle-left"></i>
    </button>

</div>
