.content {
    min-height: calc(100vh - var(--navbar-small-height));
    position: relative;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        left: 0;
        padding: 1.5rem var(--dynamic-content-padding);
        z-index: var(--navbar-zindex);

        .title {
            margin: 0;
        }
    }

    .loaded_content {
        padding: var(--dynamic-content-padding);
    }

    .narrator {
        margin-bottom: 2rem;

        hr {
            margin-bottom: 6rem;
        }
    }

    .title {
        font-size: 2rem;
        color: #FFF;
        margin-bottom: 2rem;
    }
    hr {
        margin-bottom: 4rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3rem;
        margin-bottom: 5rem;

        @media all and (min-width: 500px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media all and (min-width: 850px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media all and (min-width: 1650px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .item {
            margin: auto;
        }
    }
}
