<div class="content add-bottom-spacing-for-playing-speech-banner">

    <button class="quit_btn blurry-bg" routerLink="/app/explore">
        <i class="fa-solid fa-angle-left"></i>
    </button>

    <app-bg-video></app-bg-video>

    <div class="loaded_content">

        <ng-container *ngIf="parameterType == 'narrator' && data?.length >= 0">

            <div class="narrator">
                <app-narrator-profile [narrator]="data !=null ? narrators.getNarratorById(data[0]) : ''" ></app-narrator-profile>
                <hr>
            </div>
            <div class="grid-container">
                <div class="item" *ngFor="let speech of data"> 
                    <app-audio-item-rectangle [speech]="speech"></app-audio-item-rectangle>
                </div>
                <div class="item" *ngFor="let speech of data"> 
                    <app-audio-item-rectangle [speech]="speech"></app-audio-item-rectangle>
                </div>
            </div>

        </ng-container>



        <ng-container *ngIf="data && parameterType == 'category' && data.speeches && data.speeches.length > 0">
            <p class="title">Speeches with category: {{categoryName}}</p>
            <hr>
            <div class="grid-container">
                <div class="item" *ngFor="let speech of data.speeches">
                    <app-audio-item-rectangle [speech]="speech"></app-audio-item-rectangle>
                </div>
            </div>
        </ng-container>
        
        <ng-container *ngIf="data && parameterType == 'category' && data.playlists && data.playlists.length > 0">
            <p class="title">Playlists with category: {{categoryName}}</p>
            <hr>
            <div class="grid-container">
                <div class="item" *ngFor="let playlist of data.playlists">
                    <app-playlist-item-rectangle [playlist]="playlist"></app-playlist-item-rectangle>
                </div>
            </div>
        </ng-container>
        
        


        <ng-container *ngIf="parameterType == 'time'">
            
            <ng-container *ngIf="data?.length > 0">
                <p class="title">Speeches with {{duration}} minutes duration</p>
                <hr>
            
                <div class="grid-container">
                <div class="item" *ngFor="let speech of data">
                    <app-audio-item-rectangle [speech]="speech"></app-audio-item-rectangle>
                </div>
                </div>
            </ng-container>

            <ng-container *ngIf="data?.length == 0">
                <p class="title">There's no speech with {{duration}} minutes duration :(</p>
            </ng-container>

        </ng-container>
          
        
    </div>
</div>