.content {
    background-color: red;

    @media all and (max-width: 1200px) {
    }
    
    header {
        padding-top: var(--bottom-sheet-top-notch-height);
        .elements {
            background-color: green;
            min-height: var(--bottom-sheet-header-height);
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .left {}
    
            .right {
                display: flex;
                gap: 1rem;
    
                .like,
                .clock,
                .play_pause {
                    height: 3rem;
                    width: 3rem;
                    background-color: white;
                }
            }
        }
    }

    main.body {
        width: 100%;
        height: var(--bottom-sheet-body-height);
        background: purple;
    }
}