<div class="content">
    <header>
        <div class="elements">
            <div class="left">
                <div class="title">3 Sounds</div>
                <p class="timing">Timer is not set</p>
            </div>
            <div class="right">
                <div class="like"></div>
                <div class="clock"></div>
                <div class="play_pause"></div>
            </div>
        </div>
    </header>
    <main class="body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis illo non voluptatem architecto nobis assumenda voluptatibus neque tempore quibusdam eveniet illum molestias magni voluptates enim dolor sed suscipit reprehenderit?
    </main>
</div>