.bg-layer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000063;
    transition: opacity .3s, backdrop-filter .3s;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(0);
    z-index: calc(var(--navbar-zindex) + 1);

    &.showUp {
        opacity: 1;
        visibility: visible;
        backdrop-filter: blur(4px);
    }

    @media all and (min-width: 500px) {
        display: none;
    }
}


.overlay-content {
    width: 100%;
    background-color: white;
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    padding-top: 1.4rem;
    padding-bottom: 10.2rem;
    z-index: calc(var(--navbar-zindex) + 2);

    &.showUp {
        transform: translateY(0%);
    }

    button {
        background-color: transparent;
        border: none;
        color: var(--avgColor);
        padding: 1rem 1.8rem;
        border-radius: .3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .8rem;
        background-color: lightblue;
        flex: 1;
    }

    @media all and (min-width: 500px) {
        display: none;
    }
}


.content {
    position: fixed;
    bottom: calc(var(--navbar-small-height) + 1.5rem);
    border-radius: calc(var(--bottom-sheet-height) / 2);
    color: #FFF;
    overflow: hidden;
    transform: translateX(-50%);
    left: 50%;
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--bottom-sheet-height);
    padding: var(--bottom-sheet-padding);
    z-index: var(--navbar-zindex);

    @media all and (min-width: 1200px) {
        left: calc(50% + (var(--navbar-wide-width)/2));
    }
    @media all and (min-width: 800px) {
        max-width: 70rem;
    }
    @media all and (min-width: 1000px) {
        // max-width: 95rem;
    }
    

    .info {
        p {
            margin: 0;
        }
        .timer {
            font-size: .8em;

            i {
                margin-right: .5rem;
            }
        }
    }

    .actions {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        .action {
            height: calc(var(--bottom-sheet-height) * 0.7);
            width: calc(var(--bottom-sheet-height) * 0.7);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: transform 0.5s ease;
            transform: rotateZ(0deg);
            transition: .3s;

            &:hover {
                background-color: var(--avgColor);
            }

            &.clock,
            &.stop {
                display: none;

                @media all and (min-width: 500px) {
                    display: flex;
                }
            }

            &.toggle-content {
                display: flex;
                @media all and (min-width: 500px) {
                    display: none;
                }
            }
        }
    }
}