<div class="content blurry-bg" *ngIf="service.isCreateSection() && soundsService.getActiveSounds().length > 0">
    <div class="info">
        <p>
            {{soundsService.getActiveSounds().length}} {{soundsService.getActiveSounds().length == 1? 'sound': 'sounds'}}
        </p>
        <div class="timer">
            <i class="fa-regular fa-clock" *ngIf="timerService.timerInSeconds > 0"></i>
            {{timerService.timerInSeconds > 0 ? timerService.getFormattedCount() : 'Timer is disabled'}}
        </div>
    </div>
    <div class="actions">
        <div class="action clock" routerLink="/app/set-timer">
            <i class="fa-solid fa-clock"></i>
        </div>
        <div class="action stop" (click)="soundsService.desactivateAllSounds()">
            <i class="fa-solid fa-stop"></i>
        </div>
        <div class="action toggle-content" (click)="service.toggleOverLayContent()">
            <i class="fa-solid fa-angle-up"></i>
        </div>
        <div class="action play" (click)="soundsService.toggle_play_pause_all_sounds()">
            <i class="fa-solid fa-play" *ngIf="soundsService.all_sounds_are_paused"></i>
            <i class="fa-solid fa-pause" *ngIf="!soundsService.all_sounds_are_paused"></i>
        </div>
        <div    
            *ngIf="speechesService.getSelectedSpeechData()" 
            (click)="playingSpeechControl.expand_speech_bottom_sheet = !playingSpeechControl.expand_speech_bottom_sheet"
            class="action speech_btn"
        > 
            <img [src]="speechesService.getSelectedSpeechData().img" alt="">
        </div>
    </div>
</div>

<app-sounds-bottom-sheet *ngIf="service.isCreateSection() && soundsService.getActiveSounds().length > 0"></app-sounds-bottom-sheet>
<app-speech-bottom-sheet></app-speech-bottom-sheet>