<div class="content">
    <div class="header">
        <button>like</button>
        <div>
            <button>Set timer</button>
            <button (click)="createSectionService.clearActiveSounds()">clear all</button>
        </div>
    </div>
    <div class="elements hide-scrollbar">

        <div class="sound" *ngFor="let sound of data">
            <div class="label">
                <div class="icon">
                    <i class="fa-solid fa-music"></i>
                </div>
                <span class="name">{{sound.name}}</span>
            </div>
                
            <input class="volume" type="range" min="0" max="10" [value]="sound.volume">
            <div class="action" (click)="createSectionService.toggleActiveSound(sound)">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <!--! for adjusting device's volume -->
        <div class="audio">
            <div class="icon"></div>
            <div class="volume">Device</div>
            <div class="systemVolume"></div>
        </div>

    </div>
</div>