<div class="content">
    <div class="header">
        <button>like</button>
        <div>
            <button>Set timer</button>
            <button>clear all</button>
        </div>
    </div>
    <div class="elements hide-scrollbar">

        <!-- <div class="audio" *ngFor="let item of createSectionLogic.getActiveSounds()">
            <div class="icon"></div>
            <div class="volume">{{item.name}}</div>
            <button class="action" (click)="createSectionLogic.toggleSound(item)">x</button>
        </div> -->

        <!--! for adjusting device's volume -->
        <div class="audio">
            <div class="icon"></div>
            <div class="volume">Device</div>
            <div class="systemVolume"></div>
        </div>

    </div>
</div>