<div class="content">
    <div class="header">
        <button>like</button>
        <div>
            <button>Set timer</button>
            <button (click)="createSectionService.clearActiveSounds()">clear all</button>
        </div>
    </div>
    <div class="elements hide-scrollbar">

        <div class="audio" *ngFor="let sound of createSectionService.getActiveSounds()">
            <div class="icon"></div>
            <div class="volume">{{sound.name}}</div>
            <button class="action" (click)="createSectionService.toggleActiveSound(sound)">x</button>
        </div>

        <!--! for adjusting device's volume -->
        <div class="audio">
            <div class="icon"></div>
            <div class="volume">Device</div>
            <div class="systemVolume"></div>
        </div>

    </div>
</div>