<div 
    class="bg-layer showUp"
    [ngClass]="{'showUp': playingSpeechControl.expand_speech_bottom_sheet}"  
    (click)="playingSpeechControl.expand_speech_bottom_sheet = !playingSpeechControl.expand_speech_bottom_sheet"  
>

</div>

<div 
    *ngIf="speechesService.getSelectedSpeechData()"
    class="content"
    [ngClass]="{'showUp': playingSpeechControl.expand_speech_bottom_sheet}" 
>
    <div class="btns">

        <!--! speech like btn -->
        <button 
            *ngIf="!this.playlistsService?.isPlaying"
            class="like"
            (click)="playingSpeechControl.likeSpeech()"
        >
            <i 
                *ngIf="!playingSpeechControl.loading_like_speech"
                class="fa-solid"
                [ngClass]="{'fa-heart-crack': !speechesService.getSelectedSpeechData()?.liked, 'fa-heart' : speechesService.getSelectedSpeechData()?.liked}"
            ></i>

            <i 
                *ngIf="playingSpeechControl.loading_like_speech"
                class="fa-solid fa-spinner rotate"
            ></i>
        </button>
        
        <!--! playlist like btn -->
        <button 
            *ngIf="this.playlistsService?.isPlaying"
            class="like"
            (click)="playingSpeechControl.likePlaylist()"
        >
            <i 
                *ngIf="!playingSpeechControl.loading_like_playlist"
                class="fa-solid"
                [ngClass]="{'fa-heart-crack': !playlistsService.getPlayingPlaylist()?.liked, 'fa-heart' : playlistsService.getPlayingPlaylist()?.liked}"
            ></i>

            <i 
                *ngIf="playingSpeechControl.loading_like_playlist"
                class="fa-solid fa-spinner rotate"
            ></i>
        </button>
        
        
        <!--! speech save/unsave btn -->
        <button 
            (click)="playingSpeechControl.toggleSaveUnsaveSpeech()"
            class="save"
        >
            <i class="fa-solid fa-save" *ngIf="!playingSpeechControl.loading_save_unsave_speech && !speechesService.getSelectedSpeechData().saved"></i>
            <i class="fa-solid fa-trash" *ngIf="!playingSpeechControl.loading_save_unsave_speech && speechesService.getSelectedSpeechData().saved"></i>
            <i 
                *ngIf="playingSpeechControl.loading_save_unsave_speech"
                class="fa-solid fa-spinner rotate"
            ></i>
        </button>

        <!--! speech expand btn -->
        <button 
            *ngIf="!playlistsService?.isPlaying" 
            [routerLink]="'/app/speech/' + speechesService.getSelectedSpeechData().id"
            (click)="playingSpeechControl.expand_speech_bottom_sheet = !playingSpeechControl.expand_speech_bottom_sheet"    
            class="expand"
        >
            <i class="fa-solid fa-expand"></i>
        </button>
        
        <!--! playlist expand btn -->
        <button 
            *ngIf="playlistsService.getPlayingPlaylist() && playlistsService?.isPlaying" 
            [routerLink]="'/app/playlist/' + playlistsService.getPlayingPlaylist()?.id"
            (click)="playingSpeechControl.expand_speech_bottom_sheet = !playingSpeechControl.expand_speech_bottom_sheet"    
            class="expand"
        >
            <i class="fa-solid fa-expand"></i>
        </button>
    </div>

    <div class="controls">

        <!--! speech volume range input -->
        <div class="item">
            <i class="fa-solid fa-microphone-lines"></i>
            <input 
                class="range-slider" 
                type="range" 
                name="volume"
                max="1"
                min="0"
                step=".1"
                value=".5"
                [(ngModel)]="app.playingSpeechVolume"
            >
            <p class="text">{{ app.playingSpeechVolume * 10 + ' / 10'}}</p>
        </div>

        <!--! speech track range input -->
        <div class="item">
            <p class="text">
                {{speechesService.selected_speech_is_loading? 'Loading' : speechesService.getSpeechReadingLevel()}}
            </p>
            <input 
                class="range-slider" 
                type="range" 
                name="track"
                min="0" 
                step="1"
                [max]="speechesService.getSpeechDurationInSeconds()"
                [value]="speechesService.getSpeechReadingLevelInSeconds()"
                (input)="playingSpeechControl.onSeek($event)"
                [disabled]="speechesService.selected_speech_is_loading"
            >
            <p class="text">
                {{speechesService.selected_speech_is_loading? 'Loading' : speechesService.getSpeechDuration()}}
            </p>
        </div>

        <!--? playlist speech next/prev btns -->
        <div *ngIf="playlistsService.isPlaying" class="item speech-item">
            <button 
                [ngStyle]="{ visibility: playlistsService.getPlayingPlaylist().speeches.indexOf(speechesService.getSelectedSpeechData().id) > 0 ? 'visible' : 'hidden' }" 
                (click)="app.playPrevSpeechOfPlaylist()"
            >
                <i class="fa-solid fa-backward"></i>
            </button>

            <div class="speech">
                {{ speechesService.getSelectedSpeechData().name }}
            </div>

            <button 
                [ngStyle]="{ visibility: playlistsService.getPlayingPlaylist().speeches.indexOf(speechesService.getSelectedSpeechData().id) < playlistsService.getPlayingPlaylist().speeches.length - 1 ? 'visible' : 'hidden' }" 
                (click)="app.playNextSpeechOfPlaylist()"
            >
                <i class="fa-solid fa-forward"></i>
            </button>
        </div>

    </div>
    
</div>