.content {
    width: calc(100% - var(--navbar-wide-width));
    height: 100%;
    background-color: rgb(161, 151, 9);
    position: fixed;
    top: 0;
    right: 0;
    z-index: var(--navbar-zindex);

}