<div class="item" (click)="playlistClick()" *ngIf="playlist != null">
  <div class="item__thumb">
    <img [src]="playlist?.img">
    <div class="playing_banner blurry-bg" *ngIf=" service.getPlayingPlaylist() != null && service.getPlayingPlaylist()?.id == playlist?.id">
      <i class="fa-solid fa-headphones"></i>
      Currently Enjoying
    </div>
  </div>
  <div class="item__info">
    <p class="name">{{ playlist?.name }} </p>
    <div class="likes_plays_badges">
      <div class="item blurry-bg">
        <div class="content">
          <i class="fa-solid fa-heart"></i> <span class="number">{{ playlist?.likes }}</span>
        </div>
        <div class="content">
          <i class="fa-solid fa-play"></i> <span class="number">{{ playlist?.playing_nbr }}</span>
        </div>
        <div class="content">
          <i class="fa-solid fa-microphone"></i> <span class="number">{{ playlist?.speeches.length }} audios</span>
        </div>
      </div>
    </div>
  </div>
</div>
  