<div class="content">
     <div  class="item">
          <div
               class="icon_thumb blurry-bg"
               [ngClass]="{'activeSound': sound.isActive}"
               (click)="toggleSound(sound)"
               [id]="'audio-item-'+sound.id"
          >
               <i 
                    *ngIf="sound.isLoading && sound.isActive"
                    class="fa-solid fa-hourglass-end rotate"
               ></i>
               <i 
                    *ngIf="!sound.isLoading || !sound.isActive"
                    [class]="sound.icon"
               ></i>
          </div>
          <p class="name text-center">
               <span *ngIf="!sound.isActive">{{ sound.name }}</span>
               <input 
                    *ngIf="sound.isActive" 
                    class="range-slider" 
                    [ngClass]="{'showUp': sound.isActive}" 
                    type="range" min="0" max="10" step="1" 
                    [value]="sound.volume" 
                    (input)="updateSoundVolume($event)"
               >
          </p>
     </div>
</div>
   