<div class="content">
     <div  class="item">
          <div
               class="icon_thumb blurry-bg"
               [ngClass]="{'activeSound': service.isSoundActive(sound)}"
               (click)="service.toggleSound(sound)"
          >
               <i [class]="sound.icon"></i>
          </div>
          <p class="name text-center">
               <span *ngIf="!service.isSoundActive(sound)">{{ sound.name }}</span>
               <input 
                    *ngIf="service.isSoundActive(sound)" 
                    class="range-slider" 
                    [ngClass]="{'showUp': service.isSoundActive(sound)}" 
                    type="range" min="0" max="10" step="1" 
                    [value]="sound.volume" 
                    (input)="updateSoundVolume($event)"
               >
          </p>
     </div>
</div>
   