.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: auto;
    cursor: pointer;

    .icon_thumb {
        height: var(--create-section-audio-item-segment);
        width: var(--create-section-audio-item-segment);
        border-radius: 1rem;
        margin-bottom: 2rem;
        color: white;
        border: .2rem solid transparent;
    }

    
    input[type="range"] {
        width: var(--create-section-audio-item-segment);
    }

    &.active {
        .icon_thumb {border-color: white;}
    }
}