.content {
    header {
        width: 100%;
        height: var(--browse-section-header-height);
        position: fixed;
        top: 0;
        left: 0;
        background-color: brown;
        z-index: 1;
        overflow: hidden;

        img {width: 100%;}
    }

    .loaded_content {
        background-color: aquamarine;
        margin-top: var(--browse-section-header-height);
        padding: var(--dynamic-content-padding);
    }
}