<div class="content">
    <header>
        <img src="https://fps.cdnpk.net/images/home/subhome-ai.webp?w=649&h=649" alt="">
    </header>

    <div class="loaded_content section-blue-bgcolor">
        <app-carousel-rectangle [hasBottomBorder]="true" [carouselTitle]="'Popular on Quiet Nest'"></app-carousel-rectangle>
        <app-carousel-rectangle [hasBottomBorder]="true"></app-carousel-rectangle>
        <app-carousel-square [hasBottomBorder]="true" [carouselTitle]="'Recently Watched'"></app-carousel-square>
        <app-recommended-for-you [title]="'Recommended For You'"></app-recommended-for-you>
        <app-carousel-square [hasBottomBorder]="true" [carouselTitle]="'Recently Liked'"></app-carousel-square>
    </div>
</div>