.content {
    header {
        width: var(--browse-section-header-width);
        height: var(--browse-section-header-height);
        position: fixed;
        top: 0;
        right: 0;
        background-color: brown;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        overflow: hidden;

        img {height: 100%;}
    }

    .loaded_content {
        background-color: aquamarine;
        margin-top: var(--browse-section-header-height);
        padding: var(--dynamic-content-padding);
    }
}