<div class="content">
    <div class="scenes">
        <button routerLink="scenes">Scenes</button>
    </div>

    <!-- for the scenes overlay section -->
    <router-outlet></router-outlet>

    <header>
        <!-- <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNXVxZ2NpdHQ1bXU5ZG5wenNiYjJtcTI2ZWN6OGd2YjlpanFxOG55diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5xtDarsUgCwZMXqcVQA/giphy.webp" alt=""> -->
    </header>

    <div class="loaded_content section-blue-bgcolor">
        <app-carousel-rectangle [hasBottomBorder]="true" [carouselTitle]="'Popular on Quiet Nest'"></app-carousel-rectangle>
        <app-carousel-rectangle [hasBottomBorder]="true"></app-carousel-rectangle>
        <app-carousel-square [hasBottomBorder]="true" [carouselTitle]="'Recently Watched'"></app-carousel-square>
        <app-recommended-for-you [title]="'Recommended For You'"></app-recommended-for-you>
        <app-carousel-square [hasBottomBorder]="false" [carouselTitle]="'Recently Liked'"></app-carousel-square>
    </div>
</div>