.item {
    cursor: pointer;

    &__thumb {
        height: var(--audio-item-segment);
        width: var(--audio-item-segment);
        border-radius: 1.6rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 110%;
        }
    }
}