.content {

    header {
        width: var(--browse-section-header-width);
        height: var(--browse-section-header-height);
        position: fixed;
        top: 0;
        right: 0;
        background-color: brown;
        background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNXVxZ2NpdHQ1bXU5ZG5wenNiYjJtcTI2ZWN6OGd2YjlpanFxOG55diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5xtDarsUgCwZMXqcVQA/giphy.webp');
        background-position: center;
        background-size: cover;
        z-index: 1;
        overflow: hidden;

        img {height: 100%;}

        .toolbar {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: end;
            padding: var(--dynamic-content-padding);

            
            button.openScenesSection {

            }
        }
    }

    .loaded_content {
        background-color: aquamarine;
        margin-top: var(--browse-section-header-height);
        padding: var(--dynamic-content-padding);
    }
}