<div class="content">

    <app-bg-video></app-bg-video>
    
    <header>
        <img [src]="currentScene?.imgUrl" class="bg_scene" draggable="false">
    </header>

    <div class="toolbar">
        <!-- <button class="openScenesSection">Full screen</button> -->
        <!-- <button class="openScenesSection" routerLink="/app/search">Search</button> -->
        <button class="openScenesSection" routerLink="/app/scenes">Scenes</button>
    </div>

    <div class="loaded_content" [ngStyle]="{'background-color': bgColor}">
        <app-carousel-rectangle 
            [hasBottomBorder]="false" 
            [carouselTitle]="'Popular on Quiet Nest'"
            [audiosList]="audios"
        ></app-carousel-rectangle>

        <app-carousel-rectangle 
            [hasBottomBorder]="true" 
            [carouselTitle]="''"
            [audiosList]="audios"
        ></app-carousel-rectangle>

        <app-carousel-square 
            [hasBottomBorder]="true" 
            [carouselTitle]="'Recently Watched'"
            [audiosList]="audios"
        ></app-carousel-square>
        
        <app-recommended-for-you 
            [title]="'Recommended For You'" 
            [data]="audios"
        ></app-recommended-for-you>

        <app-carousel-square 
            [carouselTitle]="'Recently Liked'"
            [audiosList]="audios"
        ></app-carousel-square>
    </div>
</div>