.content {
    position: relative;

    header {
        height: var(--browse-section-header-height);
        overflow: hidden;

        .bg_scene {
            position: fixed;
            top: 0;
            right: 0;
            height: var(--browse-section-header-height);
            width: 100%;
            z-index: 0;
        }
    }

    
    .toolbar {
        
        @media all and (max-width: 500px) {
            position: absolute;
            top: var(--dynamic-content-padding);
            right: var(--dynamic-content-padding);
            padding: 0;
        }
        
        display: flex;
        justify-content: flex-end;
        padding: var(--dynamic-content-padding);
    }

    .loaded_content {
        position: relative;
        padding: var(--dynamic-content-padding);
    }
}