<div class="content">

    <app-bg-video class="bg-video"></app-bg-video>
    
    <div
        class="bg-video-small"
        [style.transform]="'scale(' + scaleFactor + ')'"
    >
    </div>

    <div class="loaded_content add-bottom-spacing-for-playing-speech-banner">

        <div class="title">{{salutationMessage}} {{user.getUser().firstName}}</div>
        <app-btn-rectangle class="scenes_btn rectangle" [routerLink]="'/app/scenes'" [text]="'Scenes'" [icon]="'fa-solid fa-mountain-sun'"></app-btn-rectangle>
        <app-btn-round class="scenes_btn round" [routerLink]="'/app/scenes'" [icon]="'fa-solid fa-mountain-sun'"></app-btn-round>
        
        <app-cta-btn-review></app-cta-btn-review>

        <app-carousel-rectangle 
            [carouselTitle]="'Popular on Quiet Nest'"
            [speeches]="service.getAllSpeeches()"
        ></app-carousel-rectangle>

        <app-carousel-rectangle-playlist 
            [carouselTitle]="'Our playlists'" 
            [hasBottomBorder]="true"    
            [hasScrollbar]="false"
            [playlists]="playlistsService.getPlaylists()"
        ></app-carousel-rectangle-playlist>

        <app-carousel-square 
            [carouselTitle]="'Enjoy our sound mixtures'"
            [speeches]="mixtures.getSoundsMixtures()"
        ></app-carousel-square>
        
        <app-recommended-for-you 
            [title]="'Recommended For You'" 
            [data]="service.getAllSpeeches()"
            [hasBottomBorder]="true"
        ></app-recommended-for-you>

        <app-carousel-rectangle 
            [carouselTitle]="'Recently Enjoyed'"
            [speeches]="service.getAllSpeeches()"
        ></app-carousel-rectangle>
    </div>
</div>