<div class="content">

    <app-bg-video></app-bg-video>
    

    <!-- <div class="toolbar">
        <app-btn-round [routerLink]="'/app/scenes'" [icon]="'fa-solid fa-mountain-sun'"></app-btn-round>
    </div> -->

    <div class="loaded_content add-bottom-spacing-for-playing-speech-banner" [ngStyle]="{'background-color': showBgVideo? scenesService.getActiveScene()?.avgColor: 'transparent'}">
        
        <!-- <img [src]="scenesService.getActiveScene()?.img" class="bg_scene" draggable="false"> -->
        <div class="title">Good Afternoon</div>
        <app-btn-rectangle class="scenes_btn rectangle" [routerLink]="'/app/scenes'" [text]="'Scenes'" [icon]="'fa-solid fa-mountain-sun'"></app-btn-rectangle>
        <app-btn-round class="scenes_btn round" [routerLink]="'/app/scenes'" [icon]="'fa-solid fa-mountain-sun'"></app-btn-round>
        
        <app-carousel-rectangle 
            [carouselTitle]="'Popular on Quiet Nest'"
            [speeches]="service.getAllSpeeches()"
        ></app-carousel-rectangle>

        <app-carousel-rectangle 
            [hasBottomBorder]="true" 
            [carouselTitle]="'Our playlists'"
            [speeches]="service.getAllSpeeches()"
        ></app-carousel-rectangle>

        <app-carousel-square 
            [carouselTitle]="'Enjoy our sound mixtures'"
            [speeches]="service.getAllSpeeches()"
        ></app-carousel-square>
        
        <app-recommended-for-you 
            [title]="'Recommended For You'" 
            [data]="service.getAllSpeeches()"
        ></app-recommended-for-you>

        <app-carousel-rectangle 
            [carouselTitle]="'Recently Enjoyed'"
            [speeches]="service.getAllSpeeches()"
        ></app-carousel-rectangle>
    </div>
</div>