<div class="content" *ngIf="playingSpeechService.isPlaying() && bottomSheetService.showPlayingAudioBanner()">
    <!-- <p>Currently playing audio: {{ playingSpeechService.getSelectedAudioData().name }}</p> -->
  
    <div class="info">
      <div class="img_thumb">
        <img [src]="playingSpeechService.getSelectedAudioData().img? '' : 'https://images.squarespace-cdn.com/content/v1/607f89e638219e13eee71b1e/1684821560422-SD5V37BAG28BURTLIXUQ/michael-sum-LEpfefQf4rU-unsplash.jpg'">
      </div>
      <div class="description">
        <p class="title">{{playingSpeechService.getSelectedAudioData().name}}</p>
        <div class="categories"></div>
      </div>
    </div>
  
    <button (click)="playingSpeechService.clearSelectedAudioData()">Close</button>
  </div>
  