.content {
    position: fixed;
    left: 50%;
    bottom: calc(var(--navbar-small-height) + 1.5rem);
    height: var(--playing-speech-banner-height);
    border-radius: calc(var(--playing-speech-banner-height) / 2);
    color: #FFF;
    overflow: hidden;
    transform: translateX(-50%);
    box-shadow: #110c2ebd 0 4.8rem 10rem 0;
    cursor: default;
    z-index: var(--navbar-zindex);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .info {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;

        .title {
            margin: 0;
            font-size: 1.9rem;
            display: none;
        }

        .sub_title {
            color: #d3d3d3;
            letter-spacing: .1rem;
            font-weight: bold;
            display: none;

            span {
                font-size: .8em;
            }
        }

        .img_thumb {
            width: calc(calc(var(--playing-speech-banner-height) - 1rem*2));
            height: calc(calc(var(--playing-speech-banner-height) - 1rem*2));
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100%;
            }
        }
    }

    .speech_reading_level {
        text-align: center;
        color: #d3d3d3;

        .time {
            margin: 0;
        }

        input {
            width: 6rem;

            @media all and (min-width: 600px) {
                width: 9rem;
            }

            @media all and (min-width: 1200px) {
                width: 11rem;
            }
            @media all and (min-width: 1400px) {
                width: 13rem;
            }
        }
        &.wide {
            display: none;
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: .7rem;

        button {
            width: calc(calc(var(--playing-speech-banner-height) - 1rem*2));
            height: calc(calc(var(--playing-speech-banner-height) - 1rem*2));
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: transparent;
            color: #FFF;
            transition: .3s;

            &.loading {
                @keyframes rotate {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                    
                }

                // animation: rotate 1s infinite linear;
                animation-duration: 1s;
                animation-name: rotate;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            &:active{
                background-color: var(--avgColor);
            }

            &.liked {
                color: red;
            }
        }

        .like-btn,
        .expand-btn {
            display: none;
        }

        .toggle-bottom-sheet-btn {
            display: block;
        }
    }

    
    @media all and (min-width: 500px) {
        .actions {
            .like-btn,
            .expand-btn {
                display: block;
            }
            
            .toggle-bottom-sheet-btn {
                display: none;
            }
        }
    }

    @media all and (min-width: 1200px) {
        left: calc(50% + (var(--navbar-wide-width) / 2));
    }
    
    @media all and (max-width: 1400px) {
        width: 95vw;
        max-width: 60rem;
    }

    @media all and (min-width: 1400px) {
        left: calc(50% + (var(--navbar-wide-width) / 2));
        min-width: calc(130rem - var(--navbar-wide-width));
        max-width: calc(130rem - var(--navbar-wide-width));

        .info {
            gap: 2rem;

            .title {
                display: block;
            }
    
            .sub_title {
                display: block;
            }
        }

        .speech_reading_level {
            &.small {
                display: none;
            }

            &.wide {
                display: block;
            }
        }
    }

    @media all and (min-width: 1600px) {
        left: calc(50% + (var(--navbar-wide-width) / 2));
        min-width: calc(145rem - var(--navbar-wide-width));
        max-width: calc(145rem - var(--navbar-wide-width));
    }
}