<div class="content" *ngIf="service.isPlaying() && bottomSheetService.showPlayingSpeechBanner()">
    <div class="info">
      <div class="img_thumb">
        <img [src]="service.getSelectedSpeechData().img">
      </div>
      <div class="description">
        <p class="title">{{service.getSelectedSpeechData().name}}</p>
        <small class="cat_narrator">{{service.getSelectedSpeechData().category.name}} | {{service.getSelectedSpeechData().narrator.name}}</small>
      </div>
    </div>
  
    <div class="actions">
      <button (click)="service.clearSelectedSpeechData()">Close</button>
      <button>Like</button>
    </div>
  </div>
  