<div class="container">
  <div class="form-container">
    <h1 class="title">Enter Your Information</h1>
    <form class="form">
      <div class="input-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" placeholder="Your First Name" required [(ngModel)]="firstName" name="firstName">
      </div>
      <div class="input-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" placeholder="Your Last Name" required [(ngModel)]="lastName" name="lastName">
      </div>
      <button type="button" class="next-btn" (click)="onSubmitregistration()">Next</button>
    </form>
  </div>

  <div class="form-container">
    <h1 class="title">Enter Profile ID</h1>
    <form class="form">
      <div class="input-group">
        <label for="qrcode_input" class="qrcode">
          <img [src]="imageSrc" alt="Selected Image" *ngIf="imageSrc" />
        </label>
      </div>

      <div class="input-group">
        <label for="profileID">Profile ID</label>
        <input type="text" id="profileID" required [(ngModel)]="profileID" name="profileID">
      </div>
      <button type="button" class="next-btn" (click)="onSubmitLogin()">Next</button>
    </form>
  </div>

  <!-- For select files -->
  <input #file type="file" id="qrcode_input" (change)="onSelects(file.files);" [accept]="'.jpg, .png, .gif, .jpeg'" style="display: none;" />
  
  <div *ngFor="let item of qrCodeResult" style="display: none;">
    <ngx-scanner-qrcode #actionFile="scanner" (event)="setScanningValue($event)" [src]="item.url" [isBeep]="false" [config]="config"></ngx-scanner-qrcode>
  </div>

  <!-- For camera -->
<ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>

<!-- data  -->
<span>{{ action.data.value | json }}</span><!-- value -->
<span>{{ action.data | async | json }}</span><!-- async -->

<!-- Loading -->
<p *ngIf="action.isLoading">⌛ Loading...</p>

<!-- start -->
<button (click)="action.isStart ? action.stop() : action.start()">{{action.isStart ? 'Stop' : 'Start'}}</button>
</div>
