.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-form {
      width: 350px;
      padding: 2rem;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      text-align: center;

      .qrcode_label {
        height: 12rem;
        width: 100%;
        border-radius: .5rem;
        border: .1rem dashed #808080;
        margin-bottom: 2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #808080;
        transition: .3s;

        &:hover {
          color:  #00a77e;
          border-color:  #00a77e;
        }
      }

      .qrcode_img {
        height: 12rem;
        width: 100%;
        border-radius: .5rem;
        border: .1rem dashed transparent;
        margin-bottom: 2rem;
        overflow: hidden;
        cursor: pointer;

        img {
          height: 100%;
          margin: auto;
        }
      }
    
      h2 {
        font-size: 3rem;
        margin-bottom: 4rem;
        color: #000;
      }
    
      .input-group {
        margin-bottom: 1rem;
    
        input {
          width: 100%;
          padding: 0.75rem;
          border: .1rem solid #ddd;
          border-radius: .6rem;
          color: #333;
          margin-bottom: 1.2rem;
          transition: .3s;
    
          &:focus {
            outline: none;
            border-color: #00a77e;
          }
        }
      }

      .camera-btn {
        width: 100%;
        padding: 0.75rem;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        color: gray;
        cursor: pointer;
        margin-bottom: 2rem;
        cursor: pointer;
        border: .1rem solid lightgray;
      }
    
      .login-btn {
        width: 100%;
        padding: 0.75rem;
        background-color: #00a77e;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        margin-bottom: 2rem;
    
        &:hover {
          background-color: #008d67;
        }
      }
    
      .signup-text {
        color: #666;
    
        .signup-link {
          color: #00a77e;
          text-decoration: none;
    
          &:hover {
            text-decoration: underline;
          }
        }
      }
  }
}
