<div class="container">
  <div class="form-container">
    <h1 class="title">Enter Your Information</h1>
    <form class="form">
      <div class="input-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" placeholder="Your First Name" required [(ngModel)]="firstName" name="firstName">
      </div>
      <div class="input-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" placeholder="Your Last Name" required [(ngModel)]="lastName" name="lastName">
      </div>
      <button type="button" class="next-btn" (click)="onSubmitregistration()">Next</button>
    </form>
  </div>
  <div class="form-container">
    <h1 class="title">Enter Your Profile ID</h1>
    <form class="form">
      <div class="input-group">
        <label for="profileID">Profile ID</label>
        <input type="text" id="profileID" placeholder="id..." required [(ngModel)]="profileID" name="profileID">
      </div>
      <button type="button" class="next-btn" (click)="onSubmitLogin()">Next</button>
    </form>
  </div>
</div>
