.content {
    height: var(--bottom-sheet-height);
    // border: .2rem solid red;
    
    @media all and (max-width: 1200px) {
        padding: var(--dynamic-content-padding);
    }

    .elements {
        height: 100%;
        width: 100%;
        // background-color: green;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {}

        .right {
            display: flex;
            gap: 1rem;

            .clock,
            .play_pause {
                height: 3rem;
                width: 3rem;
                background-color: white;
            }
        }
    }
}