<div 
    *ngIf="bottomSheetService.showBottomSheetWide()"
    class="bg_layer" 
    [ngClass]="{'showUp': bottomSheetService.getExpandSheetContent()}"
    (click)="bottomSheetService.toggleExpandSheetContent()"
></div>
<div class="content blurry-bg" *ngIf="bottomSheetService.showBottomSheetWide()">
    <div class="main">
        
        <div class="body" [ngClass]="{'expand_body': bottomSheetService.getExpandSheetContent()}">
            <app-bottom-sheet-content></app-bottom-sheet-content>
        </div>

        <div class="header">
            <div class="info">
                <p>
                </p>
                <div class="timer">Timer desabled</div>
            </div>
            <div class="actions">
                <div class="action expand" (click)="bottomSheetService.toggleExpandSheetContent()">x</div>
                <div class="action play">P</div>
            </div>
        </div>

    </div>
</div>