.content {
    position: fixed;
    bottom: calc(var(--navbar-small-height) + 1.5rem);
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: var(--bottom-sheet-wide-height);
    border-radius: 1rem;
    background-color: wheat;    
    border-radius: calc(var(--bottom-sheet-wide-height) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--bottom-sheet-wide-padding);
    z-index: var(--navbar-zindex);

    .info {
        p {
            margin: 0;
        }
        .timer {
            font-size: .8em;
        }
    }

    .actions {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        .action {
            height: calc(var(--bottom-sheet-wide-height) * .7);
            width: calc(var(--bottom-sheet-wide-height) * .7);
            background: green;
            border-radius: 50%;
        }
    }
}