<div 
    *ngIf="service.showBottomSheetWide()"
    class="bg_layer" 
    (click)="service.toggleExpandSheetContent()"
    [ngClass]="{'showUp': service.getExpandSheetContent()}"
></div>
<div class="content blurry-bg" *ngIf="service.showBottomSheetWide()">
    <div class="main">
        
        <div class="body" [ngClass]="{'expand_body': service.getExpandSheetContent()}">
            <app-bottom-sheet-content [data]="service.getActiveSounds()"></app-bottom-sheet-content>
        </div>

        <div class="header">
            <div class="info">
                <p>
                    {{service.getActiveSounds().length}} {{service.getActiveSounds().length == 1? 'sound': 'sounds'}}
                </p>
                <div class="timer">Timer desabled</div>
            </div>
            <div class="actions">
                <div 
                    class="action expand" 
                >
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div 
                    class="action expand" 
                    (click)="service.toggleExpandSheetContent()"
                >
                    <i class="fa-solid fa-clock"></i>
                </div>
                <div class="action play" (click)="service.togglePauseActiveSounds()">
                    <i class="fa-solid fa-play" *ngIf="service.getPauseActiveSounds()"></i>
                    <i class="fa-solid fa-pause" *ngIf="!service.getPauseActiveSounds()"></i>
                </div>
                <div class="action play" (click)="service.clearActiveSounds()">
                    <i class="fa-solid fa-stop"></i>
                </div>
            </div>
        </div>

    </div>
</div>