<div 
  class="content" 
  *ngIf="service.getSelectedSpeechData() != null" 
  [style.--currentSpeechBGImg]="'url(' + service.getSelectedSpeechData().img + ')'"
>
    <div class="loaded_content">

        <button class="exit blurry-bg" routerLink="/app">
            <i class="fa-solid fa-angle-left"></i>
        </button>

        <header>
            <div class="title">
                <p>{{service.getSelectedSpeechData().name}}</p>
                <span>Performed By</span>
            </div>

            <app-narrator-profile [narrator]="narratorsService.getNarratorById(service.getSelectedSpeechData().narratorID)" ></app-narrator-profile>

        </header>

        <app-playing-speech-control></app-playing-speech-control>
    </div>
</div>