<div 
  class="content" 
  *ngIf="service.getSelectedSpeechData() != null" 
  [style.--currentSpeechBGImg]="'url(' + service.getSelectedSpeechData().img + ')'"
>
    <div class="loaded_content">

        <button class="exit blurry-bg" routerLink="/app">
            <i class="fa-solid fa-angle-left"></i>
        </button>

        <header>
            <div class="title">
                <p>{{service.getSelectedSpeechData().name}}</p>
                <span>Performed By</span>
            </div>
            <div *ngIf="service.getSelectedSpeechData().description" class="description">{{service.getSelectedSpeechData().description}}</div>
            <div class="narrator">
                <div class="narrator__pic">
                    <img [src]="service.getSelectedSpeechData().narrator.img">
                </div>
                <div class="narrator__info">
                    <p>{{service.getSelectedSpeechData().narrator.name}}</p>
                    <p>{{service.getSelectedSpeechData().narrator.description}}</p>
                    <div class="actions">
                        <button class="action like" (click)="likeNarrator()" [ngClass]="{'liked': service.getSelectedSpeechData().narrator.liked}">
                            <i class="fa-solid fa-heart"></i>
                            {{service.getSelectedSpeechData().narrator.likes}}
                            <span> {{ service.getSelectedSpeechData().narrator.likes <= 1 ? 'like to' : 'likes to' }} {{ service.getSelectedSpeechData().narrator.name.split(' ')[0] }}</span>
                        </button>
                        <button class="action">
                            <i class="fa-solid fa-book"></i>
                            {{service.getSelectedSpeechData().narrator.speeches_nbr}}
                            <span>Available speeches</span>
                        </button>
                    </div>
                </div>
            </div>
        </header>

        <div class="controls">
            <div class="actions">
                <div class="action">
                </div>
                <div class="action">
                    <button>
                        <i class="fa-solid fa-save"></i>
                    </button>
                </div>
                <div class="action">
                    <button>
                        <i class="fa-solid fa-play"></i>
                    </button>
                </div>
                <div class="action">
                    <button>
                        <i class="fa-solid fa-stop"></i>
                    </button>
                </div>
                <div class="action">
                </div>
            </div>
            <div class="speech_level">
                <div class="label">{{service.getSpeechReadingLevel()}}</div>
                <div class="range">
                    <input 
                        type="range" 
                        min="0" 
                        step="1"
                        [max]="service.getSpeechDurationInSeconds()" 
                        [value]="service.getSpeechReadingLevelInSeconds()"
                        (input)="onSeek($event)"
                        class="range-slider"
                    >
                </div>
                <div class="label">{{service.getSpeechDuration()}}</div>
            </div>
        </div>
    </div>
</div>

<app-btn-rectangle [text]="'Close'" [icon]="'fa-solid fa-icon'" class="close_section" routerLink="/app/browse/"></app-btn-rectangle>
